<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="pickit_post_listing_data_source" xsi:type="string">Doublepoint\Pickit\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Doublepoint\Pickit\Model\ResourceModel\Post\Grid\Collection" type="Doublepoint\Pickit\Ui\Component\Listing\PickitDataProvider">
        <arguments>
            <argument name="mainTable" xsi:type="string">pickit_order</argument>
            <argument name="resourceModel" xsi:type="string">Doublepoint\Pickit\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="add_custom_field_checkout_form" type="Doublepoint\Pickit\Model\Plugin\Checkout\LayoutProcessor" sortOrder="100"/>
    </type>
</config>